{% extends 'website/base.html' %}
{% load static %}

{% block title %}About — Bas Schreurs{% endblock %}

{% block content %}

<article>
  <h2>About me</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipiscing elit. 
    Quisque faucibus ex sapien vitae pellentesque sem placerat. 
    In id cursus mi pretium tellus duis convallis. 
    Tempus leo eu aenean sed diam urna tempor;
    <br>
    <a href="https://coursera.org/share/c2b1c1766fff6b3f4d7a30599010de76" target="_blank">Meta Back-End Developer</a> |    
    <a href="https://coursera.org/share/6651b81c5d3df9aee20604f23d674206" target="_blank">Django4Everybody Course</a> |
    <a href="https://coursera.org/share/8f1066a2128e9f55e1271459a07b365d" target="_blank">Python4Everybody Course</a>
  </p>
</article>

{% endblock %}