{% extends "website/base.html" %}
{% load static %}

{% block content %}
<article>
  <h2>Project 2 - Personal Dashboard |
    <a href="https://basschreurs.nl/home" target="_blank">🌐 Website</a>  |<br>
    <a href="https://github.com/BasSchreurs/Homepage" target="_blank">📦 Github</a>
  </h2>
  <p>
    Dit dashboard ontwikkelde ik als persoonlijke startpagina: 
    een centrale plek waar ik alles wat ik dagelijks gebruik bij de hand heb.<br>
    Het is gebouwd met Django als backend en JavaScript voor de frontend. 
    Tijdens dit project heb ik ervaring opgedaan met het integreren van externe API's en RSS-feeds, 
    waaronder OpenWeatherMap voor het weer en de NOS voor het laatste nieuws.
  </p>
  Gebouwd met:
  <ul>
    <li>Python & Django</li>
    <li>JavaScript</li>
    <li>HTML & CSS</li>
    <li>API's</li>
    <li>RSS Feeds</li>
    <li>Nginx, Gunicorn & Docker</li>
  </ul>
</article>
<img src="{% static 'website/images/foto1_dashboard.png' %}" alt="foto1_dashboard" style="width: 90%; max-width: 900px; display: block; margin: 0 auto;"><br>
<span style="display: block; text-align: center; text-decoration: underline; font-style: italic;">Dashboard</span>
{% endblock %}