{% extends 'website/base.html' %}
{% load static %}

{% block title %}Home - Bas Schreurs{% endblock %}

{% block content %}

<header>
  <div class="header-left">
    <h1>Bas Schreurs</h1>
    <p>Back-End WebDeveloper</p>
    <p>Driven by Django | Klaar voor mijn volgende uitdaging</p>
  </div>
  <div class="header-right">
    <img src="{% static 'website/images/basbw.jpg' %}" alt="My Photo" />
  </div>
</header>

<article>
  <h2>Project 1 - <a href="{% url 'project1' %}">LittleLemon</a></h2>
  <p>
    LittleLemon is het eindproject van mijn Meta Back-End Developer cursus van Coursera. 
    Het is een Django-applicatie met een menupagina, een reserveringssysteem met validatie 
    van openingstijden en een Django Admin omgeving voor beheer. 
    <a href="{% url 'project1' %}">Meer info →</a>
  </p>
</article>

<article>
  <h2>Project 2 - <a href="{% url 'project2' %}">Bassinga</a></h2>
  <p>
    Bassinga is een persoonlijk project waarbij ik een webapplicatie heb gebouwd voor mijn hobby.
    Ik speel basgitaar en wilde een tool voor mijn oefeningen. De kern is een zelfgebouwde 
    tabnotatie-speler die nummers als een teleprompter afspeelt. Dit aangevuld met een tuner die de 
    noten toont die je speelt.
    <a href="{% url 'project2' %}">Meer info →</a>
  </p>
</article>

<article>
  <h2>Project 3 - <a href="{% url 'project3' %}">MotoMeet</a></h2>
  <p>
    Motomeet heb ik gemaakt om te oefenen met een grootschalig project. 
    Ik had als gedachte een social media platform te maken en zo mijn 
    full stack vaardigheden te verbeteren. Dit heeft me een beter inzicht 
    gegeven hoe je een applicatie van begin tot eind structureert. 
    <a href="{% url 'project3' %}">Meer info →</a>
  </p>
</article>

<article>
  <h2>
    Project 4 – <a href="{% url 'project4' %}">Personal Dashboard</a></h2>
  <p>
    Het Personal Dashboard is mijn persoonlijke startpagina gebouwd met Django.
    Het weer, nieuws, zoekopdrachten en notities. Alles wat ik nodig heb direct op één plek.
    <a href="{% url 'project4' %}">Meer info →</a>
  </p>
</article>

<article>
  <h2>
    Project 5 – <a href="{% url 'project5' %}">Open Source</a>
  </h2>
  <p>
    🚧 Work in progress - wordt vervolgd!
  </p>
</article>

{% endblock %}