{% extends "website/base.html" %}
{% load static %}

{% block content %}
<article>
  <h2>Project 3 - MotoMeet  |
    <a href="https://motomeet.nl" target="_blank">🌐 Website</a>  |
    <a href="https://github.com/BasSchreurs/motomeet" target="_blank">📦 Github</a>
  </h2>

  <p>
    Het is mooi weer, je kijkt naar je motor en wil er op uit, maar waar ga je naartoe, en met wie?
    Voor veel motorrijders begint die zoektocht in een wirwar van Facebook-groepen, verouderde forums en appgroepen.
    MotoMeet lost dat op: een platform waar meet-ups overzichtelijk per datum georganiseerd staan, 
    zodat je je kunt aansluiten bij een rit, andere rijders leert kennen en een community opbouwt.
  </p>

  Gebouwd met:
  <ul>
    <li>Python & Django</li>
    <li>HTML & CSS</li>
    <li>SQLite</li>
    <li>Nginx, Gunicorn & docker(VPS)</li>
  </ul>

  Functionaliteit:
  <ul>
    <li>Profiel registreren (ook met Google)</li>
    <li>Meetups aanmaken, bewerken en verwijderen (alleen voor geregistreerde gebruikers)</li>
    <li>Publieke & privé meet-ups</li>
    <li>Aanmelden & afmelden voor meetups</li>
    <li>Comments plaatsen</li>
    <li>Vrienden zoeken & toevoegen</li>
    <li>Nieuwsartikelen schrijven via admin met Summernote</li>
  </ul>

  Wat heb ik geleerd:
  <ul>
    <li>Dit project leerde mij dat een idee nog maar het begin is. Het echte werk zit in de logica erachter — 
    hoe structureer je een database, hoe zorg je dat gebruikers alleen zien wat ze mogen zien, 
    en hoe vertaal je dat naar een interface die logisch aanvoelt? 
    Van databaseschema tot deployment op een eigen VPS heb ik de volledige cyclus doorlopen.</li>
  </ul>

Screenshots:<br><br>
  <span style="display: block; text-align: center; text-decoration: underline; font-style: italic;">Profiel registreren (ook met Google).</span><br>
  <img src="{% static 'website/images/foto1_motomeet.png' %}" alt="foto1_motomeet" style="width: 100%;"><br><br>

  <span style="display: block; text-align: center; text-decoration: underline; font-style: italic;">Meetup aanmaken.</span><br>
  <img src="{% static 'website/images/foto2_motomeet.png' %}" alt="foto2_motomeet" style="width: 100%;"><br><br>

  <span style="display: block; text-align: center; text-decoration: underline; font-style: italic;">Meetup bewerken.</span><br>
  <img src="{% static 'website/images/foto3_motomeet.png' %}" alt="foto3_motomeet" style="width: 100%;"><br><br>

  <span style="display: block; text-align: center; text-decoration: underline; font-style: italic;">Meetup verwijderen.</span><br>
  <img src="{% static 'website/images/foto4_motomeet.png' %}" alt="foto4_motomeet" style="width: 100%;"><br><br>

  <span style="display: block; text-align: center; text-decoration: underline; font-style: italic;">Publieke & privé meet-ups.</span><br>
  <img src="{% static 'website/images/foto5_motomeet.png' %}" alt="foto5_motomeet" style="width: 100%;"><br><br>

  <span style="display: block; text-align: center; text-decoration: underline; font-style: italic;">Aanmelden voor een meetup.</span><br>
  <img src="{% static 'website/images/foto6_motomeet.png' %}" alt="foto6_motomeet" style="width: 100%;"><br><br>

  <span style="display: block; text-align: center; text-decoration: underline; font-style: italic;">Afmelden voor een meetup.</span><br>
  <img src="{% static 'website/images/foto7_motomeet.png' %}" alt="foto7_motomeet" style="width: 100%;"><br><br>

  <span style="display: block; text-align: center; text-decoration: underline; font-style: italic;">Comments plaatsen.</span><br>
  <img src="{% static 'website/images/foto8_motomeet.png' %}" alt="foto8_motomeet" style="width: 100%;"><br><br>

  <span style="display: block; text-align: center; text-decoration: underline; font-style: italic;">Vrienden zoeken.</span><br>
  <img src="{% static 'website/images/foto9_motomeet.png' %}" alt="foto9_motomeet" style="width: 100%;"><br><br>

  <span style="display: block; text-align: center; text-decoration: underline; font-style: italic;">Vrienden toevoegen.</span><br>
  <img src="{% static 'website/images/foto10_motomeet.png' %}" alt="foto10_motomeet" style="width: 100%;"><br><br>

  <span style="display: block; text-align: center; text-decoration: underline; font-style: italic;">Nieuwsartikelen schrijven met Summernote.</span><br>
  <img src="{% static 'website/images/foto11_motomeet.png' %}" alt="foto11_motomeet" style="width: 100%;"><br>

</article>
{% endblock %}